# Android/Java
/build/
/.gradle/
/local.properties
*.iml
*.class
bin/
gen/

# IntelliJ/Android Studio
.idea/
!.idea/inspectionProfiles/
*.iml
*.iws
*.ipr

# .NET / C#
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db
app/build/
